
.card-header{
    position: relative;
    left:57%;
    width:498px!important;
}
  .login-box {
    position: relative !important;
    top: 200px!important;
    left: 85%!important;
    width: 500px!important;
    padding: 40px!important;
    transform: translate(-50%, -50%)!important;
    background: rgba(0,0,0,.5)!important;
    box-sizing: border-box!important;
    box-shadow: 0 15px 25px rgba(0,0,0,.6)!important;
    border-radius: 10px!important;
  }
.logininput{
    position: relative;
    top:15px !important;
    color: white!important;
    font-size:15px!important;
}
  .login-box h2 {
    margin: 0 0 30px !important;
    padding: 0 !important;
    color: #fff !important;
    text-align: center !important;
  }

  .login-box .user-box {
    position: relative!important;
  }

  .login-box .user-box input {
    all:unset;
    display:block;
    position:relative;
    width:50%;
    height: 50%;
      margin-bottom:5%;
  text-align:left;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffcc5f;
    outline: none;
    background: transparent!important;
    left:35%;
  }
  .login-box .user-box label {
    position: absolute;
    bottom:40px;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffcc5f;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffcc5f;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .login-box a:hover {
    background: #ffcc5f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffcc5f,
                0 0 25px #ffcc5f,
                0 0 50px #ffcc5f,
                0 0 100px #ffcc5f;
  }

  .login-box a span {
    position: absolute;
    display: block;
  }

  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }

  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

.remember {
    position: relative!important;
    top: 19px!important;
    left: 65px!important;



}
