body{
    background-image: url("D:/lilyproject/public/back.jpg")!important;
    background-repeat: no-repeat;
    background-position: center;
}
  .select{
      height: 35px;
      border-color: #ffcc5f;
      position: relative;
      left:15%!important;
      top:20px;
  }
label{
    position: relative;
    left:65px;
    top:17px;
}
  .input {
    display:block;
    position:relative;
    width:50%;
    height: 50%;
      margin-bottom:5%;
  text-align:left;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffcc5f;
    outline: none;
    background: transparent;
    left:35%;

  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #707070;
    opacity: 1; /* Firefox */
  }
  .ContainerRegister{
    width:650px;
    height:525px;
    background-color:#ffcc5f;
    justify-content:center;
    text-align:center;
    align-items: left;
    position: relative;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px!important;
    //border-radius:10%!important;
    display:block;
    left:50%!important;

  }
  .card-headerdashboard{
      position:relative;
      left:30px;
  }
.side{
    height: 700px;
    width: 300px;
    background-color: #ffcc5f;
    position: relative;
    right:100px;
    margin-top: -540px;

}
  button{
      position: relative;
    display: block;
    padding: 10px 20px;
    color: #202020;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    background-color:rgba(255,255,255,0);
    transition: .5s;
    letter-spacing: 4px;
    border:2px solid rgba(255,255,255,0);
    left:55%;
    margin-top:6%!important;
    bottom:5px;
  }

  button:hover {
    background: #ffcc5f;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffcc5f,
                0 0 25px #ffcc5f,
                0 0 50px #ffcc5f,
                0 0 100px #ffcc5f;
  }
  button span {
    position: absolute;
    display: block;
  }
  button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #202020);
    animation: btn-anim1 1s linear infinite;
  }
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #202020);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

  button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #202020);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }

  button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #202020);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }





